iframe {
  height: 100%;
  width: 100%;
}

#pdf-viewer {
  background: rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.pdf-page-canvas {
  display: block;
  margin: 5px auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-back {
  display: inline-block !important;
  position: fixed;
  right: 0;
  top: -3px;
  margin: 12px 12px 0% 0%;
  padding: 10px;
  font-weight: bold;
  background-color: #ffc107 !important;
}
