@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html,
body {
  height: 100%;
  background: rgb(0, 30, 117);
  background: -moz-linear-gradient(86deg, rgba(0, 30, 117, 1) 0%, rgba(0, 22, 87, 1) 88%);
  background: -webkit-linear-gradient(86deg, rgba(0, 30, 117, 1) 0%, rgba(0, 22, 87, 1) 88%);
  background: linear-gradient(86deg, rgba(0, 30, 117, 1) 0%, rgba(0, 22, 87, 1) 88%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001e75", endColorstr="#001657", GradientType=1);
  font-family: 'Montserrat', sans-serif;
}

section#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.footer {
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 0px 70px 1px 70px;
  position: relative;
  bottom: 0;
}

.footer p{
  margin: 0;
}

.wpp_button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 10px;
  background-color: #ffda00;
  color: #FFF !important;
  border-radius: 100%;
  text-align: center;
  box-shadow: 1px 1px 2px #888;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5rem;
}

.wpp_button:hover {
  background-color: #ffed81
}

.closeButton {
  margin-top: 5%;
  color: black;
  font-weight: bold;
  border-radius: 50px;
  background-color: #ffda00 !important;
}

.closeButton:hover,
.closeButton:focus,
.closeButton:active {
  color: black;
  background-color: #ffed81 !important;
}

.div_flutuant {
  position: fixed;
  right: 40px;
  bottom: 35px;
  background-color: #0f1b37;
  box-shadow: 0px 0px 5px 1px #595959;
  border-radius: 10px;
  z-index: 1;
}

ul.flutuant_ul {
  list-style: none;
  margin-top: 10px;
  padding: 0px 10px 0 10px;
}

.flutuant_ul li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.flutuant_ul li a:hover {
  color: #c9c8c8;
}

hr {
  color: white;
}

.oculto {
  display: none!important;
}

#modal_aviso 
.modal-content .modal-body {
  background-color: #003d73;
  color: white;
  border: none;
}


#modal_aviso .modal-content {
  background-color: #003d73;
  color: white;
  border: none;
}

/* CSS DA DIV MASCARA */
#mascara {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9000;
  height: 100%;
  width: 100%;
  background: url(../img/loading.gif) center center no-repeat rgb(0 0 0 / 75%);
  display: none;
}

@media screen and (max-width:900px) {

  section#container {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
  }

}